.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fdeffd,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 1;
    padding-left: 100px;
    line-height: 1.1;
    justify-content: center;

}
.hero-left h2{
    color: black;
    font-size: 26px;
    font-weight: 700;
}
.hero-left p{
    color: black;
    font-size: 26px;
    font-weight: 700;
}
.hand-hand-icon{
    display:flex ;
}
.hand-hand-icon p{
    color: black;
    font-size: 90px;
    font-weight: 700;
    
}
.hand-hand-icon{
    display: flex;
    gap:20px;
    align-items: center;

}
.hand-hand-icon img{
    width: 105px;
}
.hero_latest_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: orangered;
    color: black;
    font-size: 20px;
    font-weight: 700;
    

}
.hero-right{
    display: flex;
  align-items: center;
    flex: 1;
    justify-content: center;
    padding-top: 100px;

}